<a href="https://colab.research.google.com/github/Younes-Karimi/IST597-DataPrivacy/blob/main/DP_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np
from google.colab import drive
import matplotlib.pyplot as plt
drive.mount('/content/drive')
dir = '/content/drive/My Drive/data_privacy/Adult/'
pd.options.mode.chained_assignment = None  # default='warn'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

instead what i could do is generalize first and then do this method numerically, and then convery back to the category types

import data and rename - to _

In [3]:
df = pd.read_table(dir+'dataset_full.txt', delim_whitespace=True, names=('age', 'education-num', 'work-class','marital-status','occupation','race','sex','native-country'))
df = df.rename(columns={'education-num':'education_num','work-class':'work_class','marital-status':'marital_status','native-country':'native_country'})

In [4]:
df.columns

Index(['age', 'education_num', 'work_class', 'marital_status', 'occupation',
       'race', 'sex', 'native_country'],
      dtype='object')

i am choosing age, native country, and marital status as the quasi-identifiers  that we want to generalize and occupation as the sensitive column

age and education num are numerical data and the rest are categorical data

# Dataset Analysis

List the column names in the dataset. For each column, identify the type of information (string, integer, etc.) and present the basic descriptives (range of values, mean, frequencies, outliers or unique values, etc). Explain the utility of the data that you want to preserve after your anonymization process. For example, discuss what types of queries you want your anonymized data to support. Your anonymization approach should support your answer.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30162 entries, e1 to e30162
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   education_num   30162 non-null  int64
 2   work_class      30162 non-null  object
 3   marital_status  30162 non-null  object
 4   occupation      30162 non-null  object
 5   race            30162 non-null  object
 6   sex             30162 non-null  object
 7   native_country  30162 non-null  object
dtypes: int64(2), object(6)
memory usage: 2.1+ MB

This dataset consists of 8 columns and 30162 entries as shown above. The first two columns, *age* and *education_num*, are integers while the rest of columns are objects and have categorical (string) values.

In [78]:
print('Min age: {}\nMax age: {}'.format(df['age'].values.min(), df['age'].values.max()))
print('Mean age: %.2f' % (df['age'].values.sum() / df['age'].values.size))
print('\nSorted unique values: \n', np.sort(df['age'].unique()))
print('\nAge frequencies:\n', df['age'].value_counts(sort=True))

Min age: 17
Max age: 90
Mean age: 38.44

Sorted unique values:
 [17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40
 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64
 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 88 90]

Age frequencies:
 36    852
31    851
33    837
34    836
35    828
     ...
82      7
83      5
88      3
85      3
86      1
Name: age, Length: 72, dtype: int64

In [76]:
print('Min education number: {} year(s)\nMax education number: {} year(s)'.format(df['education_num'].values.min(), df['education_num'].values.max()))
print('Mean education number: %.2f year(s)' % (df['education_num'].values.sum() / df['education_num'].values.size))
print('\nEducation number frequencies:\n', df['education_num'].value_counts(sort=True))

Min education number: 1 year(s)
Max education number: 16 year(s)
Mean education number: 10.12 year(s)

Education number frequencies:
 9     9840
10    6678
13    5044
14    1627
11    1307
7     1048
12    1008
6      820
4      557
15     542
5      455
8      377
16     375
3      288
2      151
1       45
Name: education_num, dtype: int64

In [80]:
print('Work class frequencies:\n\n', df['work_class'].value_counts(sort=True))

Work class frequencies:

 Private             22286
Self-emp-not-inc     2499
Local-gov            2067
State-gov            1279
Self-emp-inc         1074
Federal-gov           943
Without-pay            14
Name: work_class, dtype: int64

In [81]:
print('Marital status frequencies:\n\n', df['marital_status'].value_counts(sort=True))

Marital status frequencies:

 Married-civ-spouse       14065
Never-married             9726
Divorced                  4214
Separated                  939
Widowed                    827
Married-spouse-absent      370
Married-AF-spouse           21
Name: marital_status, dtype: int64

In [83]:
print('Occupation frequencies:\n\n', df['occupation'].value_counts(sort=True))

Occupation frequencies:

 Prof-specialty       4038
Craft-repair         4030
Exec-managerial      3992
Adm-clerical         3721
Sales                3584
Other-service        3212
Machine-op-inspct    1966
Transport-moving     1572
Handlers-cleaners    1350
Farming-fishing       989
Tech-support          912
Protective-serv       644
Priv-house-serv       143
Armed-Forces            9
Name: occupation, dtype: int64

In [86]:
print('Race frequencies:\n\n', df['race'].value_counts(sort=True))

Race frequencies:

 White                 25933
Black                  2817
Asian-Pac-Islander      895
Amer-Indian-Eskimo      286
Other                   231
Name: race, dtype: int64

In [85]:
print('Sex frequencies:\n\n', df['sex'].value_counts(sort=True))

Sex frequencies:

 Male      20380
Female     9782
Name: sex, dtype: int64

In [84]:
print('Native country frequencies:\n\n', df['native_country'].value_counts(sort=True))

Native country frequencies:

 United-States                 27504
Mexico                          610
Philippines                     188
Germany                         128
Puerto-Rico                     109
Canada                          107
India                           100
El-Salvador                     100
Cuba                             92
England                          86
Jamaica                          80
South-Africa                     71
China                            68
Italy                            68
Dominican-Republic               67
Vietnam                          64
Guatemala                        63
Japan                            59
Columbia                         56
Poland                           56
Taiwan                           42
Haiti                            42
Iran                             42
Portugal                         34
Nicaragua                        33
Peru                             30
Greece                           29
France                           27
Ecuador                          27
Ireland                          24
Hong-Kong                        19
Cambodia                         18
Trinadad                         18
Thailand                         17
Laos                             17
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         12
Scotland                         11
Holand-Netherlands                1
Name: native_country, dtype: int64

# Identification of Sensitive Information

can convert the categorical data to 'category' in pandas for easier handling

In [ ]:
df['work_class'] = df['work_class'].astype('category')
work_class_dict = dict(enumerate(df['work_class'].cat.categories))
df['work_class'] = df['work_class'].astype('category').cat.codes

df['marital_status'] = df['marital_status'].astype('category')
marital_status_dict = dict(enumerate(df['marital_status'].cat.categories))
df['marital_status'] = df['marital_status'].astype('category').cat.codes

df['occupation'] = df['occupation'].astype('category')
occupation_dict = dict(enumerate(df['occupation'].cat.categories))
df['occupation'] = df['occupation'].astype('category').cat.codes

df['race'] = df['race'].astype('category')
race_dict = dict(enumerate(df['race'].cat.categories))
df['race'] = df['race'].astype('category').cat.codes

df['sex'] = df['sex'].astype('category')
sex_dict = dict(enumerate(df['sex'].cat.categories))
df['sex'] = df['sex'].astype('category').cat.codes

df['native_country'] = df['native_country'].astype('category')
native_country_dict = dict(enumerate(df['native_country'].cat.categories))
df['native_country'] = df['native_country'].astype('category').cat.codes

going off of the mondrian algorithm, which relies on paritioning the data into k-anonymous groups following a greedy algorithm

In [ ]:
df.index

Index(['e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10',
       ...
       'e30153', 'e30154', 'e30155', 'e30156', 'e30157', 'e30158', 'e30159',
       'e30160', 'e30161', 'e30162'],
      dtype='object', length=30162)

In [ ]:
def attribute_domain(df, column, part):
  domain = df[column][part].max() - df[column][part].min()
  return domain

In [ ]:
def is_k_anon(df, part, sensitive_attribute, k=3):
  if len(part) < k:
    return False
  
  else:
    return True

In [ ]:
def partitioning(df, feature_columns, sensitive_attribute, is_k_anon):

    final_parts = []
    parts = [df.index]
    while parts:
        part = parts.pop(0)
        domains = {}
        for column in df:
          dom = attribute_domain(df, column, part)
          domains[column] = dom
        for column, dom in sorted(domains.items(), reverse=True):
            #split the column by the media
            df_part = df[column][part]
            median = df_part.median()
            lhs = df_part.index[df_part < median]
            rhs = df_part.index[df_part>= median]
            #check if the partitions satify k anon
            if (is_k_anon(df, lhs, sensitive_attribute) and is_k_anon(df, rhs, sensitive_attribute)):
              parts.extend((lhs, rhs))
            else:
              continue

            break
        else:
            final_parts.append(part)
    return final_parts

In [ ]:
#apply
QI_columns = ['native_country', 'marital_status','age','education_num']
sensitive_attribute = 'work_class'
final_partitions = partitioning(df, QI_columns, sensitive_attribute, is_k_anon)

In [ ]:
len(final_partitions)

4783

try to apply to data now

In [ ]:
def anonymize_data( df, parts, QI_columns, sensitive_attribute, max_partitions=None):
  aggregates ={}
  for column in QI_columns:
    aggregates[column] = [df[column].mean()]
  rows = []
  #print(parts)
  for i, part in enumerate(parts):
    print(part)
    if i % 100 == 1:
      print("Finished {} partitions...".format(i))
    if max_partitions is not None and i > max_partitions:
      break
    grouped_columns = df.loc[part].groupby(QI_columns, as_index=False).mean() 
    #print(df.loc[part].groupby(sensitive_attribute)['work_class'].head())
    sensitive_counts = df.loc[part].groupby(sensitive_attribute).agg({sensitive_attribute : 'count'})
    values = grouped_columns.iloc[0].to_dict()
    for sensitive_value, count in sensitive_counts[sensitive_attribute].items():
      if count == 0:
        continue
      values.update({sensitive_attribute : sensitive_value,'count' : count,})
      rows.append(values.copy())
  return pd.DataFrame(rows)

In [ ]:
dfn = anonymize_data(df, final_partitions, QI_columns, sensitive_attribute)

Index(['e2026', 'e18685', 'e19193'], dtype='object')
Index(['e3748', 'e10539', 'e13450', 'e18764'], dtype='object')
Finished 1 partitions...
Index(['e16432', 'e22759', 'e26151'], dtype='object')
Index(['e4871', 'e8517', 'e9797', 'e12041', 'e12658'], dtype='object')
Index(['e14496', 'e19429', 'e21806', 'e25180'], dtype='object')
Index(['e2445', 'e3675', 'e19493', 'e24385', 'e25982'], dtype='object')
Index(['e8963', 'e25868', 'e29936'], dtype='object')
Index(['e8053', 'e9216', 'e9922', 'e16971', 'e28923'], dtype='object')
Index(['e3362', 'e16867', 'e18123', 'e23907'], dtype='object')
Index(['e1681', 'e2192', 'e8043', 'e10776', 'e14915', 'e22952', 'e28786'], dtype='object')
Index(['e7153', 'e9330', 'e17294', 'e22547', 'e24198'], dtype='object')
Index(['e3478', 'e16633', 'e16647', 'e19523', 'e22273'], dtype='object')
Index(['e5485', 'e8499', 'e8714'], dtype='object')
Index(['e8767', 'e19578', 'e22993'], dtype='object')
Index(['e1237', 'e2207', 'e7642', 'e21022'], dtype='object')
Index(['e23244', 'e24689', 'e25113', 'e30039'], dtype='object')
Index(['e6520', 'e10861', 'e12150', 'e17795'], dtype='object')
Index(['e3437', 'e8558', 'e21130'], dtype='object')
Index(['e3660', 'e5318', 'e6409', 'e13933', 'e15380'], dtype='object')
Index(['e196', 'e1099', 'e3180', 'e14789'], dtype='object')
Index(['e19687', 'e22891', 'e24199'], dtype='object')
Index(['e7521', 'e9626', 'e23983'], dtype='object')
Index(['e11717', 'e16708', 'e17861'], dtype='object')
Index(['e13021', 'e18736', 'e19873', 'e23331'], dtype='object')
Index(['e2498', 'e4938', 'e27996', 'e29993'], dtype='object')
Index(['e300', 'e3105', 'e11679', 'e27151'], dtype='object')
Index(['e24259', 'e24655', 'e26726'], dtype='object')
Index(['e9836', 'e16431', 'e28901', 'e29148'], dtype='object')
Index(['e2017', 'e6561', 'e20845', 'e26709'], dtype='object')
Index(['e4772', 'e13386', 'e19893'], dtype='object')
Index(['e70', 'e6203', 'e11847', 'e24691'], dtype='object')
Index(['e315', 'e11142', 'e15333', 'e16265'], dtype='object')
Index(['e3731', 'e8161', 'e19828', 'e20247', 'e29312'], dtype='object')
Index(['e12987', 'e13969', 'e23022'], dtype='object')
Index(['e18395', 'e22014', 'e23560', 'e24092'], dtype='object')
Index(['e8644', 'e14246', 'e25635'], dtype='object')
Index(['e5496', 'e15972', 'e23000', 'e24363'], dtype='object')
Index(['e18740', 'e23668', 'e25286', 'e28130'], dtype='object')
Index(['e9098', 'e11843', 'e19650', 'e28362', 'e28993'], dtype='object')
Index(['e2140', 'e10695', 'e19792', 'e22557', 'e26896'], dtype='object')
Index(['e1145', 'e9817', 'e13571', 'e17466'], dtype='object')
Index(['e10781', 'e11640', 'e21429', 'e30142'], dtype='object')
Index(['e4364', 'e6799', 'e10266', 'e11807'], dtype='object')
Index(['e6700', 'e10529', 'e23975', 'e27675'], dtype='object')
Index(['e9110', 'e12789', 'e22728', 'e28605'], dtype='object')
Index(['e1640', 'e3452', 'e14910', 'e22821', 'e25009'], dtype='object')
Index(['e9108', 'e10759', 'e13394', 'e14299'], dtype='object')
Index(['e116', 'e5351', 'e7845', 'e17141', 'e27063'], dtype='object')
Index(['e10330', 'e19172', 'e27858', 'e28180'], dtype='object')
Index(['e7884', 'e10186', 'e27397'], dtype='object')
Index(['e3682', 'e25297', 'e29968'], dtype='object')
Index(['e8962', 'e19917', 'e25801'], dtype='object')
Index(['e4652', 'e13477', 'e18457', 'e27438'], dtype='object')
Index(['e19807', 'e21204', 'e24033', 'e24870'], dtype='object')
Index(['e3998', 'e4092', 'e18201', 'e30028'], dtype='object')
Index(['e1150', 'e5878', 'e13481', 'e15666', 'e28589'], dtype='object')
Index(['e21051', 'e27568', 'e27895'], dtype='object')
Index(['e1093', 'e2712', 'e7668', 'e26051'], dtype='object')
Index(['e12582', 'e14693', 'e18573'], dtype='object')
Index(['e2128', 'e14568', 'e18786', 'e22385'], dtype='object')
Index(['e8309', 'e17255', 'e21935'], dtype='object')
Index(['e12322', 'e15769', 'e20354', 'e24613'], dtype='object')
Index(['e4310', 'e7164', 'e24925'], dtype='object')
Index(['e3376', 'e6584', 'e12317', 'e21010', 'e26240'], dtype='object')
Index(['e629', 'e6562', 'e22253', 'e24494', 'e27519'], dtype='object')
Index(['e5269', 'e18097', 'e19475', 'e20126', 'e20338'], dtype='object')
Index(['e4518', 'e5817', 'e10917', 'e14301', 'e23103'], dtype='object')
Index(['e7853', 'e22719', 'e24424', 'e26293', 'e27241'], dtype='object')
Index(['e12170', 'e21359', 'e25317'], dtype='object')
Index(['e3356', 'e4373', 'e24671'], dtype='object')
Index(['e12017', 'e18303', 'e24440'], dtype='object')
Index(['e14079', 'e22407', 'e25708'], dtype='object')
Index(['e2381', 'e10586', 'e24622', 'e25532'], dtype='object')
Index(['e1740', 'e5746', 'e28487'], dtype='object')
Index(['e11952', 'e20238', 'e28530'], dtype='object')
Index(['e7211', 'e11966', 'e19629', 'e24634'], dtype='object')
Index(['e645', 'e9639', 'e14945', 'e23541'], dtype='object')
Index(['e1848', 'e5705', 'e17802'], dtype='object')
Index(['e11269', 'e13680', 'e26988', 'e29196'], dtype='object')
Index(['e7691', 'e13032', 'e15030', 'e16525'], dtype='object')
Index(['e9698', 'e10167', 'e21382', 'e21669'], dtype='object')
Index(['e9443', 'e9569', 'e11821', 'e14898'], dtype='object')
Index(['e4281', 'e9644', 'e13830', 'e20833'], dtype='object')
Index(['e11161', 'e19525', 'e21445'], dtype='object')
Index(['e4491', 'e23404', 'e26895'], dtype='object')
Index(['e9679', 'e12532', 'e18950', 'e21023'], dtype='object')
Index(['e7407', 'e10740', 'e29922'], dtype='object')
Index(['e11137', 'e14913', 'e16212'], dtype='object')
Index(['e3072', 'e8057', 'e14274'], dtype='object')
Index(['e1634', 'e19755', 'e20694'], dtype='object')
Index(['e7004', 'e7183', 'e18355', 'e20801', 'e24281'], dtype='object')
Index(['e5977', 'e24735', 'e28329'], dtype='object')
Index(['e3561', 'e5961', 'e9155', 'e17287', 'e28587'], dtype='object')
Index(['e5657', 'e9525', 'e10772', 'e11683', 'e28559'], dtype='object')
Index(['e2811', 'e4932', 'e25494', 'e29934'], dtype='object')
Index(['e8998', 'e28056', 'e28594'], dtype='object')
Index(['e924', 'e4458', 'e15406', 'e23044'], dtype='object')
Index(['e2250', 'e3369', 'e19771'], dtype='object')
Index(['e7744', 'e8016', 'e13384', 'e18041'], dtype='object')
Index(['e4718', 'e6117', 'e10924', 'e17990', 'e27800'], dtype='object')
Index(['e11147', 'e20527', 'e23038', 'e24268', 'e29124'], dtype='object')
Index(['e11267', 'e20848', 'e21995'], dtype='object')
Finished 101 partitions...
Index(['e11420', 'e14701', 'e24420', 'e26402'], dtype='object')
Index(['e180', 'e6849', 'e9289'], dtype='object')
Index(['e6984', 'e16479', 'e20579', 'e21621', 'e29255'], dtype='object')
Index(['e3705', 'e5763', 'e9236', 'e16766', 'e21734'], dtype='object')
Index(['e10001', 'e25600', 'e25835', 'e28576'], dtype='object')
Index(['e3704', 'e11594', 'e26381', 'e27857', 'e28665'], dtype='object')
Index(['e1368', 'e3225', 'e15092', 'e24412'], dtype='object')
Index(['e3818', 'e8340', 'e8787', 'e17349', 'e24043', 'e27759'], dtype='object')
Index(['e3986', 'e6226', 'e16962', 'e28143', 'e30075'], dtype='object')
Index(['e2557', 'e6145', 'e7127', 'e20024', 'e23117'], dtype='object')
Index(['e4547', 'e5247', 'e10644', 'e20007', 'e20620'], dtype='object')
Index(['e7981', 'e8246', 'e10683', 'e14704', 'e16924'], dtype='object')
Index(['e3187', 'e7671', 'e16723', 'e17911'], dtype='object')
Index(['e5287', 'e22935', 'e24839', 'e28664'], dtype='object')
Index(['e2432', 'e3421', 'e5622', 'e13812'], dtype='object')
Index(['e1515', 'e6710', 'e12381', 'e13551', 'e24438'], dtype='object')
Index(['e5886', 'e16830', 'e23677'], dtype='object')
Index(['e5417', 'e22322', 'e26020'], dtype='object')
Index(['e4476', 'e5381', 'e23720', 'e28276'], dtype='object')
Index(['e686', 'e5559', 'e17250'], dtype='object')
Index(['e13204', 'e13676', 'e16211', 'e22883'], dtype='object')
Index(['e12878', 'e15872', 'e21450', 'e26228', 'e26585'], dtype='object')
Index(['e11205', 'e16916', 'e17685', 'e17833', 'e18287'], dtype='object')
Index(['e1338', 'e2394', 'e21277', 'e22193'], dtype='object')
Index(['e5607', 'e9261', 'e18905', 'e19762', 'e29099'], dtype='object')
Index(['e16904', 'e20944', 'e24495'], dtype='object')
Index(['e1647', 'e12043', 'e18639'], dtype='object')
Index(['e11645', 'e14344', 'e29578'], dtype='object')
Index(['e5426', 'e9747', 'e19233'], dtype='object')
Index(['e1315', 'e7494', 'e21458', 'e27658'], dtype='object')
Index(['e3439', 'e8592', 'e9341', 'e22691'], dtype='object')
Index(['e6525', 'e10653', 'e18319', 'e29475'], dtype='object')
Index(['e1777', 'e12560', 'e18523', 'e22455'], dtype='object')
Index(['e2602', 'e11298', 'e20855', 'e22931'], dtype='object')
Index(['e2941', 'e7930', 'e11850'], dtype='object')
Index(['e4414', 'e14512', 'e18694', 'e19188', 'e23025'], dtype='object')
Index(['e7177', 'e22092', 'e28101'], dtype='object')
Index(['e8263', 'e11624', 'e17614', 'e19690', 'e24251'], dtype='object')
Index(['e1190', 'e1211', 'e4862', 'e16376'], dtype='object')
Index(['e1427', 'e3585', 'e4175', 'e10567', 'e11451'], dtype='object')
Index(['e1984', 'e11121', 'e15358', 'e15536', 'e19239'], dtype='object')
Index(['e112', 'e7899', 'e20586', 'e21309', 'e27521'], dtype='object')
Index(['e1379', 'e2700', 'e3850', 'e3876', 'e22096'], dtype='object')
Index(['e4264', 'e10499', 'e12720', 'e20840', 'e22796'], dtype='object')
Index(['e10969', 'e12619', 'e20869', 'e27230'], dtype='object')
Index(['e2123', 'e7570', 'e19408', 'e20734'], dtype='object')
Index(['e5083', 'e14482', 'e20047', 'e20692'], dtype='object')
Index(['e5293', 'e5519', 'e7400', 'e11449', 'e15657', 'e27321', 'e28857'], dtype='object')
Index(['e11162', 'e14170', 'e23089'], dtype='object')
Index(['e11617', 'e25070', 'e26194'], dtype='object')
Index(['e19567', 'e19731', 'e24863'], dtype='object')
Index(['e22630', 'e23535', 'e24146'], dtype='object')
Index(['e10039', 'e11886', 'e23203'], dtype='object')
Index(['e2933', 'e24649', 'e27332'], dtype='object')
Index(['e1112', 'e12329', 'e24510'], dtype='object')
Index(['e15735', 'e20998', 'e21013', 'e24506'], dtype='object')
Index(['e15948', 'e19214', 'e19344', 'e29796'], dtype='object')
Index(['e2918', 'e24583', 'e27265'], dtype='object')
Index(['e8515', 'e19348', 'e25707', 'e28412'], dtype='object')
Index(['e14719', 'e15145', 'e17832'], dtype='object')
Index(['e1107', 'e12370', 'e13518', 'e18243', 'e21283'], dtype='object')
Index(['e17851', 'e21942', 'e22277', 'e26095', 'e26481'], dtype='object')
Index(['e1163', 'e5473', 'e9090', 'e10059', 'e26417'], dtype='object')
Index(['e1367', 'e1404', 'e11289', 'e16888', 'e22175'], dtype='object')
Index(['e20254', 'e20495', 'e22954'], dtype='object')
Index(['e4969', 'e8245', 'e8835', 'e11417', 'e14009', 'e14048', 'e20413'], dtype='object')
Index(['e12046', 'e19058', 'e24741'], dtype='object')
Index(['e1792', 'e2225', 'e11758', 'e14110', 'e24651'], dtype='object')
Index(['e10170', 'e11597', 'e12186', 'e19117'], dtype='object')
Index(['e17066', 'e23765', 'e24929', 'e29079'], dtype='object')
Index(['e15061', 'e21781', 'e21991'], dtype='object')
Index(['e267', 'e3684', 'e21933'], dtype='object')
Index(['e16792', 'e18537', 'e24978'], dtype='object')
Index(['e218', 'e16825', 'e21352'], dtype='object')
Index(['e1758', 'e7858', 'e22179', 'e23077'], dtype='object')
Index(['e5241', 'e10515', 'e18098', 'e22887'], dtype='object')
Index(['e5023', 'e8782', 'e23878'], dtype='object')
Index(['e4107', 'e25443', 'e28287'], dtype='object')
Index(['e4521', 'e5377', 'e23737'], dtype='object')
Index(['e9312', 'e14091', 'e28494'], dtype='object')
Index(['e4083', 'e11378', 'e18051', 'e19268'], dtype='object')
Index(['e6044', 'e7209', 'e10296', 'e13543', 'e19592', 'e29940'], dtype='object')
Index(['e10766', 'e18608', 'e20964', 'e23346', 'e29074'], dtype='object')
Index(['e4407', 'e11074', 'e11487', 'e22221', 'e26971'], dtype='object')
Index(['e7500', 'e7802', 'e14558', 'e23195', 'e25893'], dtype='object')
Index(['e556', 'e10790', 'e18102'], dtype='object')
Index(['e4011', 'e16107', 'e29179', 'e29386'], dtype='object')
Index(['e5549', 'e6333', 'e22448', 'e26315'], dtype='object')
Index(['e4623', 'e11401', 'e12978', 'e17926', 'e27292'], dtype='object')
Index(['e7860', 'e11988', 'e16215', 'e26225', 'e26987'], dtype='object')
Index(['e532', 'e4823', 'e7492', 'e11207', 'e22125'], dtype='object')
Index(['e5091', 'e26447', 'e26646'], dtype='object')
Index(['e2723', 'e4195', 'e25280'], dtype='object')
Index(['e16314', 'e17716', 'e27327'], dtype='object')
Index(['e1775', 'e5343', 'e11017', 'e27055'], dtype='object')
Index(['e343', 'e1970', 'e14236', 'e23366', 'e25003'], dtype='object')
Index(['e43', 'e580', 'e734', 'e15148', 'e15758'], dtype='object')
Index(['e8167', 'e17566', 'e20064', 'e20253'], dtype='object')
Index(['e1423', 'e20469', 'e24927'], dtype='object')
Index(['e1842', 'e11324', 'e20490', 'e21569', 'e26713'], dtype='object')
Finished 201 partitions...
Index(['e4530', 'e8287', 'e8656', 'e17263'], dtype='object')
Index(['e485', 'e7958', 'e12590', 'e23107', 'e29412'], dtype='object')
Index(['e7329', 'e9802', 'e10812', 'e21355'], dtype='object')
Index(['e6529', 'e15506', 'e20038', 'e23292'], dtype='object')
Index(['e21083', 'e23724', 'e26926'], dtype='object')
Index(['e637', 'e11491', 'e16408'], dtype='object')
Index(['e16520', 'e17359', 'e25716'], dtype='object')
Index(['e5750', 'e12467', 'e18940', 'e28358'], dtype='object')
Index(['e3442', 'e15672', 'e25740'], dtype='object')
Index(['e3209', 'e23075', 'e28852'], dtype='object')
Index(['e6795', 'e7450', 'e19782', 'e19845'], dtype='object')
Index(['e2965', 'e10263', 'e12983', 'e18118', 'e24514'], dtype='object')
Index(['e2653', 'e7837', 'e13828', 'e21379', 'e27875'], dtype='object')
Index(['e940', 'e9136', 'e9387', 'e13329', 'e15326'], dtype='object')
Index(['e650', 'e6638', 'e27392'], dtype='object')
Index(['e26936', 'e27994', 'e28220'], dtype='object')
Index(['e11220', 'e26149', 'e26759'], dtype='object')
Index(['e6774', 'e10227', 'e12554'], dtype='object')
Index(['e9841', 'e15622', 'e16108'], dtype='object')
Index(['e7501', 'e18448', 'e23397', 'e27772', 'e28261'], dtype='object')
Index(['e2453', 'e12911', 'e16610', 'e24663'], dtype='object')
Index(['e372', 'e7123', 'e9109', 'e17962', 'e21654'], dtype='object')
Index(['e326', 'e3498', 'e4359', 'e8388', 'e11973'], dtype='object')
Index(['e5099', 'e8034', 'e10372', 'e10995', 'e28159'], dtype='object')
Index(['e5738', 'e19019', 'e26633'], dtype='object')
Index(['e6900', 'e8240', 'e28794'], dtype='object')
Index(['e1906', 'e4509', 'e12384', 'e17020'], dtype='object')
Index(['e1278', 'e6320', 'e8850'], dtype='object')
Index(['e16308', 'e23749', 'e28496'], dtype='object')
Index(['e19226', 'e21430', 'e24561'], dtype='object')

KeyboardInterrupt: ignored

In [ ]:
df.loc[['e532', 'e4823', 'e7492', 'e11207', 'e22125']]

        age  education_num  work_class  ...  race  sex  native_country
e532     36             10           1  ...     4    0              38
e4823    41             10           1  ...     4    0              38
e7492    32              9           1  ...     4    0              38
e11207   45              9           1  ...     4    0              38
e22125   53              9           1  ...     4    0              38

[5 rows x 8 columns]

In [ ]:
dfn.sort_values(QI_columns+[sensitive_attribute])

      native_country  marital_status   age  ...  race  sex  count
687              0.0             2.0  27.0  ...   1.0  1.0      3
874              0.0             2.0  32.0  ...   1.0  0.0      4
1135             0.0             2.0  37.0  ...   1.0  1.0      4
1136             0.0             2.0  37.0  ...   1.0  1.0      4
118              0.0             2.0  40.0  ...   1.0  1.0      6
...              ...             ...   ...  ...   ...  ...    ...
2643            38.0             6.0  77.0  ...   4.0  0.0      3
2644            38.0             6.0  77.0  ...   4.0  0.0      1
4966            38.0             6.0  77.0  ...   4.0  0.0      4
4967            38.0             6.0  77.0  ...   4.0  0.0      1
1787            39.0             4.0  23.0  ...   1.0  1.0      3

[7007 rows x 9 columns]

In [ ]:
dfn['age'].unique()

array([72., 46., 39., 31., 30., 53., 29., 36., 26., 22., 37., 35., 38.,
       42., 17., 64., 45., 62., 43., 33., 21., 40., 25., 54., 56., 63.,
       41., 49., 47., 24., 34., 18., 51., 27., 32., 44., 28., 23., 52.,
       19., 50., 65., 55., 20., 59., 57., 60., 48., 73., 66., 58., 68.,
       67., 61., 70., 77., 69., 76., 71., 85., 80., 78., 74., 75., 79.,
       90.])

In [ ]:
aggregates ={}
for column in QI_columns:
  aggregates[column] = df[column].mean()

In [ ]:
df.loc[['e2026', 'e18685', 'e19193']].agg({'marital_status': 2.5801339433724553, 'native_country': 36.382567469000726})

TypeError: ignored

In [ ]:
aggregates

{'marital_status': 2.5801339433724553, 'native_country': 36.382567469000726}

In [ ]:
df.loc[list(['e2026', 'e18685', 'e19193'])].agg(aggregates, squeeze=False)

TypeError: ignored

In [ ]:
parts = [['e2026', 'e18685', 'e19193']]

In [ ]:
df.groupby(['A', 'B'], as_index=False).sum()

In [ ]:
max_partitions = None
aggregates ={}
for column in QI_columns:
  aggregates[column] = [df[column].mean()]
rows = []
  #print(parts)
for i, part in enumerate(parts):
  if i % 100 == 1:
    print("Finished {} partitions...".format(i))
  if max_partitions is not None and i > max_partitions:
    break
  print(df.loc[part])
  grouped_columns = df.loc[part].groupby(QI_columns, as_index=False).mean()  #.agg(aggregates, squeeze=False)
  print(grouped_columns)
  sensitive_counts = df.loc[part].groupby(sensitive_attribute).agg({sensitive_attribute : 'count'})
  values = grouped_columns.iloc[0].to_dict()
  for sensitive_value, count in sensitive_counts[sensitive_attribute].items():
    if count == 0:
      continue
    values.update({sensitive_attribute : sensitive_value,'count' : count,})
    rows.append(values.copy())

        age  education_num  work_class  ...  race  sex  native_country
e2026    42             10           0  ...     4    0              32
e18685   72              7           0  ...     4    0               1
e19193   61              9           0  ...     4    0              32

[3 rows x 8 columns]
   age  marital_status  native_country  ...  occupation  race  sex
0   42               0              32  ...           0     4    0
1   61               4              32  ...           0     4    0
2   72               0               1  ...           0     4    0

[3 rows x 8 columns]

In [ ]:
aggregates

{'age': [38.437901995888865],
 'marital_status': [2.5801339433724553],
 'native_country': [36.382567469000726]}

In [ ]:
df.loc[part].agg({'native_country': [36.382567469000726]}, squeeze=False)

ValueError: ignored